@{
}

<style>
    .parent {
        position: relative;
        height: 300px;
    }
    .child {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .center {
         display: block;
         margin-left: auto;
         margin-right: auto;
       }
</style>

<aside class="main-sidebar sidebar-dark-cyan elevation-4 parent" style="background-color: #007777">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Dashboard" class="brand-link">
        <img src="~/img/credist_risk_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8;">
        <span class="brand-text font-weight-light">SiteName</span>
    </a>

    <br>

    
            <span class="info-box-icon bg-success elevation-1">
                <img id="companyLogo" class="center"
                        style="width:150px;height:150px;object-fit:scale-down;"
                        src="">
            </span>
           
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-building"></i></span>
          
    }

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a asp-action="Dashboard" asp-controller="Home" title="Dashboard"
                       class="nav-link ">
                        <i class="nav-icon fa fa-tachometer-alt"></i><p>Conversations</p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a asp-action="Index" asp-controller="Conversation" title="Dashboard"
                       class="nav-link ">
                        <i class="nav-icon fa fa-tachometer-alt"></i><p>Live Chat</p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a asp-action="Users" asp-controller="Auth" title="Users"
                       class="nav-link ">
                        <i class="nav-icon fa fa-tachometer-alt"></i><p>user management</p>
                    </a>
                </li>
                

               
            </ul>
        </nav>
    </div>

   

</aside>



