@{
}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo"></span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Kenya Red Cross</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active open">
            <a asp-action="Dashboard" asp-controller="Home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards"></div>
            </a>
        </li>

        <li class="menu-item">
            <a asp-action="List" asp-controller="Conversation" class="menu-link">
                <i class="menu-icon tf-icons bx bx-chat"></i>
                <div data-i18n="Conversations"></div>
            </a>
        </li>

        <li class="menu-item">
            <a asp-action ="Index" asp-controller="Conversation" class="menu-link">
                <i class="menu-icon tf-icons bx bx-chat"></i>
                <div data-i18n="Chat"></div>
            </a>
        </li>

        <li class="menu-item">
            <a asp-action="Users" asp-controller="Auth" class="menu-link">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="User Management"></div>
            </a>
        </li>

    </ul>
</aside>
