@using RedCrossChat.ViewModel;

@model AppUserTeamVm

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.Title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm(actionName: "SaveTeam", controllerName: "Config", FormMethod.Post, new { @class = "modal-Crud", data_modal = "clientModal", data_callback = "", data_table = "tblTeam", autocomplete = "off", @id = "frmClient" }))
{

    <input type="hidden" asp-for="Id">

    <div class="modal-body">
        <div class="row">
            

            <div class="form-group col-lg-12 mb-2">
                <label asp-for="Employee"></label>
                <input asp-for="Employee" class="form-control" autocomplete="off" />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-12 mb-2">
                <label asp-for="UserID"></label>
                <input asp-for="UserID" class="form-control" autocomplete="off" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-12 mb-2">
                <label asp-for="TeamID"></label>
                <input asp-for="TeamID" class="form-control" autocomplete="off" />
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-12 mb-2">
                <label asp-for="Team"></label>
                <input asp-for="Team" class="form-control" autocomplete="off" />
                <span asp-validation-for="Team" class="text-danger"></span>
            </div>



          
        </div>

    </div>

    <div class="modal-footer">
       
            <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>
            <button type="reset" class="btn btn-label-secondary btn-reset mt-3" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        
    </div>
}
