@using RedCrossChat.ViewModel;

@model IntentionVm


@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@ViewBag.Title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>


@using (Html.BeginForm(actionName: "SaveIntention", controllerName: "Config", FormMethod.Post, new { @class = "modal-Crud", data_modal = "clientModal", data_callback = "", data_table = "tblIntention", autocomplete = "off", @id = "frmClient" }))
{
   
    <input type="hidden" asp-for="Id">

    <div class="modal-body">
        <div class="row">
              <div class="form-group col-lg-12 mb-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row gx-3 gy-2 align-items-center">
                <div class="col-md-6">
                    <label for="Team">Select SubIntention</label>
               
                    <select id="selectTypeOpt" class="form-select color-dropdown" name="employee">
                        <option value="-1" selected>Select SubIntention</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="showToastPlacement">&nbsp;</label>
                    <button id="showToastPlacement" class="btn btn-primary d-block" type="button">Add Sub-Intention</button>
                </div>
            </div>
         
        </div>

    </div>

    <div class="modal-footer">
       
            <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>
            <button type="reset" class="btn btn-label-secondary btn-reset mt-3" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        
    </div>

   
}
