@using RedCrossChat.ViewModel;

@model AppUserTeamVm;

@{
    Layout = null;
}
<div class="modal-header">
    <h5 class="modal-title">Team Management</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    
        <div class="text-center mb-4">
           
            <p>Add new Employee to team</p>
        </div>

    <div class="row">

        <div class="row gx-3 gy-2 align-items-center">
            <div class="col-md-6">
                <label for="Team">Select Employee</label>
                <select id="selectTypeOpt" class="form-select color-dropdown" name="employee">
                    <option value="-1" selected>Select Employee</option>

                    @foreach(var user in Model.AppUsers)
                    {
                        <option value="@user.Id"> @user.FullName</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="showToastPlacement">&nbsp;</label>
                <button id="addUserToTeam" data-id="@Model.Id" class="btn btn-primary d-block" type="button">Add Employee</button>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="card ">

            <div class="card-body p-0">
                <table class="table table-striped" id="tblAppUserTeam">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th style="width: 40px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div>
    </div>

</div>